<section class="cast-section">
    <div class="cast-section__header">
        <span class="cast-section__label">Personnel</span>
    </div>

    @if (isLoading()) {
        <div class="cast-section__skeleton-grid">
            @for (i of [1, 2, 3, 4, 5, 6]; track i) {
                <div class="cast-skeleton">
                    <app-skeleton
                        width="6.4rem"
                        height="6.4rem"
                        radius="50%"
                    />
                    <div class="cast-skeleton__meta">
                        <app-skeleton
                            width="10rem"
                            height="1.4rem"
                        />
                        <app-skeleton
                            width="6rem"
                            height="1.1rem"
                            style="margin-top: 0.6rem; display: block"
                        />
                    </div>
                </div>
            }
        </div>
    } @else {
        <div class="cast-section__content">
            <app-cast-grid [cast]="cast()" />
        </div>
    }
</section>
