<div class="nn-banner">
    <div class="nn-banner__image-wrapper">
        <img
            [src]="imageSrc()"
            alt="Hero Cinematic Banner"
            class="nn-banner__image"
            fetchpriority="high"
            loading="eager"
            decoding="sync"
            style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover"
        />
        <div class="nn-banner__overlay"></div>
    </div>

    <div class="nn-banner__content">
        @if (label()) {
            <span class="nn-banner__label">{{ label() }}</span>
        }
        <h1 class="nn-banner__title">{{ title() }}</h1>
        @if (description()) {
            <p class="nn-banner__description">{{ description() }}</p>
        }

        <div class="nn-banner__actions">
            <ng-content select="[actions]"></ng-content>
        </div>
    </div>
</div>
