<header class="movie-hero">
    <div
        class="movie-hero__backdrop-placeholder"
        [class.hidden]="isBackdropLoaded()"
    ></div>

    @if (displayData()?.backdropPath) {
        <img
            [src]="'https://image.tmdb.org/t/p/original' + displayData()?.backdropPath"
            alt=""
            class="movie-hero__backdrop"
            [class.movie-hero__backdrop--loaded]="isBackdropLoaded()"
            (load)="isBackdropLoaded.set(true)"
        />
    }

    <div class="movie-hero__fade"></div>
    <div class="movie-hero__content">
        <div class="movie-hero__content__grid">
            <figure class="movie-hero__content__grid__poster">
                @if (isLoading()) {
                    <app-skeleton
                        width="100%"
                        height="100%"
                        radius="1.6rem"
                    />
                } @else if (displayData()?.posterPath) {
                    <div class="movie-hero__poster-placeholder">
                        <mat-icon>image</mat-icon>
                    </div>
                    <img
                        [src]="'https://image.tmdb.org/t/p/w500' + displayData()?.posterPath"
                        [alt]="displayData()?.title || ''"
                        class="movie-hero__poster-img"
                        [class.movie-hero__poster-img--loaded]="isPosterLoaded()"
                        (load)="isPosterLoaded.set(true)"
                    />
                }
            </figure>

            <div class="movie-hero__content__grid__typography">
                @if (isLoading()) {
                    <app-skeleton
                        width="70%"
                        height="6rem"
                        style="margin-bottom: 1.2rem"
                    />
                    <app-skeleton
                        width="45%"
                        height="2rem"
                        style="margin-bottom: 3.2rem"
                    />
                } @else {
                    <h1 class="movie-hero__content__grid__typography__title">
                        {{ displayData()?.title }}
                    </h1>
                    @if (displayData()?.tagline) {
                        <p class="movie-hero__content__grid__typography__tagline">
                            {{ displayData()?.tagline }}
                        </p>
                    }
                }

                <div class="movie-hero__content__grid__typography__metadata">
                    @if (isLoading()) {
                        <app-skeleton
                            width="8.5rem"
                            height="3.5rem"
                            radius="0.6rem"
                        />
                        <app-skeleton
                            width="7.5rem"
                            height="3.5rem"
                            radius="0.6rem"
                        />
                    } @else {
                        <app-meta-badge
                            icon="star"
                            [text]="displayData()?.rating | number: '1.1-1'"
                            [highlight]="true"
                        />
                        @for (meta of displayData()?.metadata; track meta.text) {
                            <app-meta-badge [text]="meta.text" />
                        }
                    }
                </div>

                <div class="movie-hero__content__grid__typography__genres">
                    @if (isLoading()) {
                        <app-skeleton
                            width="9rem"
                            height="2.5rem"
                            radius="2rem"
                        />
                        <app-skeleton
                            width="11rem"
                            height="2.5rem"
                            radius="2rem"
                        />
                    } @else {
                        @for (genre of displayData()?.genres; track genre.id) {
                            <app-category-pill [label]="genre.name" />
                        }
                    }
                </div>

                <div class="movie-hero__content__grid__typography__actions">
                    <ng-content select="[actions]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</header>
