@let actor = actorStore.selectedActor();
@let isLoading = actorStore.isLoading();

<main class="actor-detail">
    <app-actor-hero
        [actor]="actor"
        [isLoading]="isLoading"
    />

    <div class="actor-detail__content">
        <aside class="actor-detail__sidebar">
            <!-- <app-actor-sidebar
                [actor]="actor"
                [isLoading]="isLoading"
            /> -->
        </aside>

        <section class="actor-detail__main">
            <div class="actor-detail__section">
                <h2 class="actor-detail__section-title">Known For</h2>

                <div class="actor-detail__credits-grid">
                    @if (isLoading) {
                        @for (i of [1, 2, 3, 4]; track i) {
                            <app-skeleton
                                width="100%"
                                height="28rem"
                                radius="1.2rem"
                            />
                        }
                    } @else {
                        @for (credit of actorStore.knownFor(); track $index) {
                            <app-movie-card [movie]="credit" />
                        } @empty {
                            <app-nn-empty-state
                                title="No Credits Detected"
                                description="This individual has no recorded cinematic history in the mainframe."
                                icon="history_edu"
                            />
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</main>
