<div class="movie-feedback">
    <app-movie-reviews
        [reviews]="reviews()"
        [hasMore]="hasMore()"
        (loadMore)="loadMore.emit()"
    />

    @if (isMember()) {
        @if (!isRated()) {
            <app-movie-review-form (submit)="submitReview.emit($event)" />
        } @else {
            <div class="movie-feedback__status--already-rated">
                <mat-icon>check_circle</mat-icon>
                <span>You have already assessed this cinematic asset.</span>
            </div>
        }
    } @else {
        <app-nn-empty-state
            title="Authentication Required"
            description="To leave a review you must be logged in."
            icon="lock"
        ></app-nn-empty-state>
    }
</div>
