@use './shared/styles/mixins' as *;

.app-shell {
    @include flex($direction: column);
    min-height: 100dvh;
    background-color: var(--nn-bg);
}

.app-main {
    position: relative;
    flex: 1 1 auto;
    @include flex($direction: column);
    width: 100%;
    min-height: 50vh;
}
