@use '@angular/material' as mat;
@use 'variables' as *;

$neonum-theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
            tertiary: mat.$magenta-palette,
        ),
        typography: (
            brand-family: 'Inter, sans-serif',
            plain-family: 'Inter, sans-serif',
        ),
        density: (
            scale: -1,
        ),
    )
);

:root {
    --mdc-filled-button-container-shape: 0.8rem;
    --mdc-outlined-button-container-shape: 0.8rem;
    --mdc-text-button-container-shape: 0.4rem;

    --mdc-outlined-text-field-container-shape: 0.8rem;

    --mat-sys-primary: var(--nn-primary);
    --mat-sys-surface: var(--nn-surface);
}
