@use '@angular/material' as mat;
@use 'variables' as *;

$neonum-theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
            tertiary: mat.$magenta-palette,
        ),
        typography: (
            brand-family: 'Inter, sans-serif',
            plain-family: 'Inter, sans-serif',
        ),
        density: (
            scale: -1,
        ),
    )
);
