<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__brand">
            <span class="footer__brand__text">NEONUM</span>
            <span class="footer__brand__year">2026</span>
        </div>

        <div class="footer__socials">
            <a
                href="https://github.com"
                target="_blank"
                class="footer__socials__link"
                aria-label="GitHub"
            >
                <mat-icon class="footer__socials__icon">code</mat-icon>
            </a>
            <a
                href="https://twitter.com"
                target="_blank"
                class="footer__socials__link"
                aria-label="Twitter"
            >
                <mat-icon class="footer__socials__icon">share</mat-icon>
            </a>
        </div>
    </div>
</footer>
