<div
    class="nn-dropdown"
    [class.nn-dropdown--open]="isOpen()"
    [class.nn-dropdown--disabled]="isDisabled()"
>
    <button
        type="button"
        class="nn-dropdown__trigger"
        (click)="toggle()"
        [disabled]="isDisabled()"
        aria-haspopup="listbox"
        [aria-expanded]="isOpen()"
    >
        <span class="nn-dropdown__label">{{ selectedLabel() }}</span>
        <mat-icon class="nn-dropdown__chevron">expand_more</mat-icon>
    </button>

    @if (isOpen()) {
        <div class="nn-dropdown__panel">
            <ul
                class="nn-dropdown__list"
                role="listbox"
            >
                @for (option of options(); track option.value) {
                    <li
                        class="nn-dropdown__option"
                        role="option"
                        [class.nn-dropdown__option--active]="option.value === value()"
                        [aria-selected]="option.value === value()"
                        (click)="select(option)"
                    >
                        <span class="nn-dropdown__option-text">{{ option.label }}</span>
                        @if (option.value === value()) {
                            <div class="nn-dropdown__indicator"></div>
                        }
                    </li>
                }
            </ul>
        </div>
    }
</div>
