<main class="search-page">
    <header class="search-header">
        <div class="search-bar-wrapper">
            <app-nn-input
                [formControl]="searchControl"
                [iconPath]="searchIconPath"
                placeholder="Search movies, actors or TV shows..."
            />
        </div>

        <app-search-filters
            [activeType]="searchType()"
            (filterChanged)="onTypeChange($event)"
        />
    </header>

    <div class="search-results">
        @if (isLoading()) {
            <div class="results-grid">
                @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track i) {
                    <app-skeleton
                        height="35rem"
                        radius="1.6rem"
                    />
                }
            </div>
        } @else {
            @let type = searchType();

            @if ((type === 'multi' || type === 'movie') && movieResults().length) {
                <app-search-result-grid
                    title="Movies"
                    type="movie"
                    [items]="movieResults()"
                />
            }

            @if ((type === 'multi' || type === 'tv') && tvResults().length) {
                <app-search-result-grid
                    title="TV Shows"
                    type="tv"
                    [items]="tvResults()"
                />
            }

            @if ((type === 'multi' || type === 'person') && actorResults().length) {
                <app-search-result-grid
                    title="Actors"
                    type="person"
                    [actors]="actorResults()"
                />
            }

            @if (isEmpty()) {
                <app-nn-empty-state
                    title="No Results Found"
                    description="We couldn't find any matches for your current search criteria."
                    icon="search_off"
                />
            }
        }
    </div>
</main>
