<article
    class="movie-card"
    [routerLink]="['/movie', displayData().id]"
    tabindex="0"
    [attr.aria-label]="displayData().title"
>
    <div class="movie-card__poster-wrapper">
        <img
            [ngSrc]="displayData().poster"
            width="342"
            height="513"
            [priority]="priority()"
            [alt]="displayData().title"
            class="movie-card__poster"
            sizes="(max-width: 768px) 50vw, 20vw"
        />

        <div class="movie-card__badge">
            <mat-icon class="star-icon">star</mat-icon>
            <span>{{ displayData().rating.toFixed(1) }}</span>
        </div>
    </div>

    <div class="movie-card__info">
        <h3 class="movie-card__title">{{ displayData().title }}</h3>
        <p class="movie-card__year">
            {{ displayData().date | date: 'yyyy' }}
        </p>
    </div>
</article>
