<article
    class="movie-card"
    [routerLink]="['/movie', displayData().id]"
    tabindex="0"
    [attr.aria-label]="displayData().title"
>
    <div class="movie-card__poster-wrapper">
        <img
            [src]="'https://image.tmdb.org/t/p/w342' + displayData().poster"
            [srcset]="
                'https://image.tmdb.org/t/p/w185' +
                displayData().poster +
                ' 185w, ' +
                'https://image.tmdb.org/t/p/w342' +
                displayData().poster +
                ' 342w, ' +
                'https://image.tmdb.org/t/p/w500' +
                displayData().poster +
                ' 500w'
            "
            sizes="(max-width: 600px) 150px, 300px"
            [alt]="displayData().title"
            class="movie-card__poster"
            [loading]="priority() ? 'eager' : 'lazy'"
            [attr.fetchpriority]="priority() ? 'high' : 'auto'"
        />
        <div class="movie-card__badge">
            <mat-icon class="star-icon">star</mat-icon>
            <span>{{ displayData().rating.toFixed(1) }}</span>
        </div>
    </div>

    <div class="movie-card__info">
        <h3 class="movie-card__title">{{ displayData().title }}</h3>
        <p class="movie-card__year">
            {{ displayData().date | date: 'yyyy' }}
        </p>
    </div>
</article>
