<main class="explore">
    <header class="explore__header">
        <div class="nn-container">
            <app-explore-header [(sortValue)]="sortValue" />

            <app-explore-filters
                [(contentType)]="contentType"
                [typeOptions]="typeOptions"
                [genres]="exploreStore.genres()"
                [isExpanded]="isFiltersExpanded()"
                [showToggle]="breakpointService.isMobile()"
                [activeGenreIds]="activeGenreIds()"
                (toggle)="toggleFilters()"
                (genreChange)="handleGenreChange($event)"
            />
        </div>
    </header>

    <div class="nn-container">
        <div
            class="explore__grid"
            role="feed"
        >
            @if (exploreStore.isLoading() && exploreStore.movies().length === 0) {
                @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
                    <div class="skeleton-card">
                        <app-skeleton
                            width="100%"
                            height="38rem"
                            radius="1.6rem"
                        />
                        <app-skeleton
                            width="70%"
                            height="2rem"
                            style="margin-top: 1.6rem"
                        />
                        <app-skeleton
                            width="40%"
                            height="1.5rem"
                            style="margin-top: 0.8rem"
                        />
                    </div>
                }
            } @else {
                @for (movie of exploreStore.movies(); track movie.id) {
                    <app-movie-card
                        [movie]="movie"
                        class="explore__item"
                    />
                }

                @if (exploreStore.isLoading()) {
                    @for (i of [1, 2, 3, 4,5]; track $index) {
                        <div class="skeleton-card">
                            <app-skeleton
                                width="100%"
                                height="38rem"
                                radius="1.6rem"
                            />
                        </div>
                    }
                }
            }
        </div>

        <div
            class="explore__load-trigger"
            appInteractionObserver
            (isIntersecting)="exploreStore.loadNextPage()"
        ></div>
    </div>
</main>
